.sidebar {
  flex: 0 0 auto;
  padding: 5px;
  width: 280px;
}

.card {
  align-items: center;
  cursor: grab;
  display: flex;
  margin-top: 8px;
  padding: 8px;
}

.card-title {
  margin-left: 5px;
}

.info-icon {
  margin-left: auto;
}
