:global {
  html,
  body,
  #root {
    height: 100%;
  }  
}

:local {
  .application {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .canvas {
    flex: 1 1 auto;
    height: 100%;
    overflow: auto;
  }

  .main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
  }

  .left {
    flex: 0 0 auto;
    width: 280px;
  }

  .middle {
    display: flex;
    flex-grow: 1;
    height: 100%;
    padding-bottom: 24px;
    padding-top: 24px;
    overflow: hidden;
  }

  .right {
    flex: 0 0 auto;
    width: 280px;
  }
}
